<div class="container">
  <h1>Messages</h1>
  <br>
  <% @messages.each do |message| %>
    <hr>
    <h4><%= message.subject %></h4>
    <p><strong>To: </strong><%= message.recipient %></p>
    <p><strong>Sent: </strong>
      <% if message.created_at > Time.now.beginning_of_day %>
        <%= "#{time_ago_in_words(message.created_at)} ago" %>
      <% else %>
        <%= "on #{message.created_at.strftime("%b %d, %Y")}" %>
      <% end %>
    </p>
    <p><strong>Attatched Resume: </strong><%= message.resume.name %></p>
    <%= link_to 'View Message', resume_message_path(message.resume, message), class: 'button large' %>
    <br>
  <% end %>
</div>
<br>
