<div class="container">
  <% if @message.errors.any? %>
    <div class="flash alert alert-warning">
      <h4><%= pluralize(@message.errors.count, "Error") %>:</h4>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Message</h1>
  <br>
  <hr>
  <div class="container">
    <%= form_for [@resume, @message] do |f| %>
      <div class="row">
        <p><strong>Recipient</strong></p>
        <%= f.text_field :recipient, class: 'border col-md-3 col-sm-4 col-xs-8' %>
      </div>
      <div class="row">
        <p><strong>Subject</strong></p>
        <%= f.text_field :subject, class: 'border col-md-3 col-sm-4 col-xs-8' %>
      </div>
      <div class="row">
        <p><strong>Message</strong></p>
        <%= f.text_area :body, size: "39x10", class: 'border' %>
      </div>
      <br>
      <div class="row">
        <%= f.submit "Send", class: 'button send' %>
      </div>
    <% end %>
  </div>
</div>
<br>
