<div class="container">
  <h1><%= @message.subject %></h1>
  <br>
  <hr>
  <p><strong>To: </strong><%= @message.recipient %></p>
  <p><strong>Sent: </strong>
    <% if @message.created_at > Time.now.beginning_of_day %>
      <%= "#{time_ago_in_words(@message.created_at)} ago" %>
    <% else %>
      <%= "on #{@message.created_at.strftime("%b %d, %Y")}" %>
    <% end %>
  </p>
  <p><strong>Attatched Resume: </strong><%= @message.resume.name %></p>
  <div class="parent">
    <div class="child-one">
      <p class="body"><strong>Body: </strong></p>
    </div>
    <div class="child-two">
      <p><%= markdown @message.body %></p>
    </div>
  </div>
  <hr>
  <%= link_to 'Delete', [@message.resume, @message], method: :delete, class: 'button delete', data: { confirm: 'Are you sure you want to delete this message? It will still appear in your inbox. Whomever you sent it to will still have it.' } %>
</div>
