<div class="container">
  <h1>Sign In</h1>
  <br>
  <hr>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'border col-md-3 col-sm-4 col-xs-8' %>
      </div>
      <br>
      <div class="row">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'border col-md-3 col-sm-4 col-xs-8' %>
      </div>
      <br>
      <div class="row">
        <%= f.submit "Sign In", class: "button medium" %>
      </div>
    <% end %>
    <div class="row">
      <%= render "devise/shared/links" %>
    </div>
</div>
