<div class="container">
  <h1>Edit Resume</h1>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <p><strong>Resume Name: </strong><%= @resume.name %></p>
      <p><strong>Attached File: </strong><%= @resume.document_file_name %></p>
    </div>
    <br>
    <%= form_for(@resume, multipart: true) do |f| %>
      <div class="row">
        <p><strong>Edit Resume Name</strong></p>
        <%= f.text_field :name, class: 'border col-md-3 col-sm-4 col-xs-8' %>
      </div>
      <br>
      <div class="row">
        <p><strong>Replace Attached File</strong></p>
        <%= f.file_field :document %>
      </div>
      <br>
      <div class="row">
        <%= f.submit "Save", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
