<div class="container">
  <h1>Resumes</h1>
  <%= link_to "New Resume", new_resume_path, class: 'button large' %>
  <br>
  <% @resumes.each do |resume| %>
    <hr>
    <h3><%= resume.name %></h3>
    <%= link_to "View", "#{resume.document}", target: ':_blank', class: 'button' %>
    <%= link_to "Details", resume_path(resume), class: 'button' %>
    <%= link_to "Send", new_resume_message_path(resume), class: 'button' %>
    <br>
    <br>
  <% end %>
  <br>
</div>
<br>
