<div class="container">
  <h1>New Resume</h1>
  <%= link_to "Back", :back, class: 'button neutral' %>
  <br>
  <hr>
  <div class="container">
    <div class="row">
      <h4 class="field-name">Resume Name</h4>
    </div>
    <%= form_for(@resume, multipart: true) do |f| %>
      <div class="row">
        <%= f.text_field :name, class: 'col-md-4 col-xs-12', placeholder: "Enter a name for your resume" %>
      </div>
      <br>
      <div class="row">
        <%= f.file_field :document %>
      </div>
      <br>
      <div class="row">
        <%= f.submit "Save", class: 'button' %>
      </div>
  <% end %>
  </div>

</div>
