<div class="container">
  <% if @resume.errors.any? %>
    <div class="flash alert alert-warning">
      <h4><%= pluralize(@resume.errors.count, "Error") %>:</h4>
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Resume</h1>
  <br>
  <hr>
  <div class="container">
    <%= form_for(@resume, multipart: true) do |f| %>
      <div class="row">
        <p><strong>Resume Name</strong></p>
        <%= f.text_field :name, class: 'border col-md-3 col-sm-4 col-xs-8', placeholder: "Enter a name for your resume" %>
      </div>
      <br>
      <div class="row">
        <p><strong>Attached File</strong></p>
        <p>(Only .pdf, .doc, and .docx files are supported.)</p>
        <%= f.file_field :document %>
      </div>
      <br>
      <div class="row">
        <%= f.submit "Save", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
