<h1><%= @resume.name %></h1>
<br>
<% if @resume.created_at > Time.now.beginning_of_day %>
  <p><strong>Created at: </strong><%= "#{time_ago_in_words(@resume.created_at)} ago" %></p>
<% else %>
  <p><strong>Created at: </strong><%= "#{@resume.created_at.strftime("%b %d, %Y")} ago" %></p>
<% end %>
<p><strong>Size: </strong>100kb</p>
<div class="resume-placeholder-box-large"></div>
<br>
<%= link_to "Edit", edit_resume_path, class: 'btn btn-default' %>
<%= link_to "Delete", @resume, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
