<div class="container">
  <h1><%= @resume.name %></h1>
  <%= link_to "Back", :back, class: 'button neutral' %>
  <br>
  <hr>
  <p><strong>Attached File: </strong><%= @resume.document_file_name %></p>
  <p><strong>File Size: </strong><%= number_to_human_size(@resume.document_file_size) %></p>
  <p><strong>Last Modified: </strong>
    <% if @resume.updated_at > Time.now.beginning_of_day %>
      <%= "#{time_ago_in_words(@resume.updated_at)} ago" %>
    <% else %>
      <%= "on #{@resume.updated_at.strftime("%b %d, %Y")}" %>
    <% end %>
  </p>
  <%= link_to "View", "#{@resume.document}", target: ':_blank', class: 'button' %>
  <%= link_to "Edit", edit_resume_path(@resume), class: 'button' %>
  <%= link_to "Delete", @resume, method: :delete, class: 'button delete', data: { confirm: 'Are you sure you want to delete this topic?' } %>
</div>
